.App {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-style:hidden;
}

.title{
  background-color: rgb(241, 238, 255);
  color: rgb(145, 123, 251);
  font-size: 37px;
  font-family:monospace;
  font-stretch: wider;
  margin-inline: 450px;
  border-radius: 50px;  
  box-shadow: 4px 4px 7px;
  flex-direction: column;
  border-style:hidden;
}

.searchBar{
  border-radius: 50px;
  background-color: rgb(241, 238, 255);
  padding: 15px;
  padding-left: 10px;
  width: 315px;
  box-shadow: 4px 4px 7px;
  color: rgb(145, 123, 251);
  border-style: hidden;
  font-family:monospace;
  font-size: 17px;
  text-align: center;
  margin-left: 50px;
  flex-direction: column;
  margin-bottom: 16px;
}

.button{
  font-size: 17px;
  font-family:monospace;
  border-style: hidden;
  color: rgb(145, 123, 251);
  border-radius: 50px;
  background-color: rgb(211, 202, 255);
  padding: 10px;
  padding-left: 10px;
  width: 100px;
  box-shadow: 4px 4px 7px;
  text-align: center;
  font-weight: bolder;
  border-style:hidden;
  margin: 14px
  
}

.window1{
  background-color: rgb(241, 238, 255);
  box-shadow: 4px 4px 7px;
  padding: 40px;
  border-radius: 50px;
  display: flex;
  height: 1150px;
  color: rgb(145, 123, 251);
  flex-direction: column;
  border-style:hidden;
  overflow-y:auto;

 
  float:left;
  margin-left:90px;
  width: 500px;
}

.window2{
  background-color: rgb(241, 238, 255);
  box-shadow: 4px 4px 7px;
  padding: 40px;
  border-radius: 50px;
  width: 500px;
  height: 1150px;
  color: rgb(145, 123, 251);
  float: right;
  border-style:hidden;
  margin-right:90px;
  flex-direction: column;
}


.article{
  font-family:monospace;
  font-size:20px;
  text-align:left;
  padding: 30px;
  box-shadow: 4px 4px 7px;
  border-radius: 50px;
  color: rgb(145, 123, 251);
  background-color: rgb(214, 207, 254);
  margin: 12px;
  border-style:hidden;
} 

.article:hover{
   transition: width 0.8s, height 0.8s, box-shadow 0.3s, margin 0.8s;
   margin:14px;
   box-shadow: 10px 10px 10px;
   margin: 12px;
  }

  .article:active{
    color: violet;
  }

  .button:hover{
   transition: box-shadow 0.3s;
   box-shadow: 10px 10px 10px;
  
  }

  .button:active{
    color:violet;
  }
