.App {
  text-align: center;
  border-style:hidden;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
  background-color: rgb(241, 238, 255);
  color: rgb(145, 123, 251);
  font-size: 37px;
  font-stretch: wider;
  width: 500px;
  border-radius: 50px;  
  box-shadow: 4px 4px 7px;
  border-style:hidden;
  text-overflow:clip;
  margin: auto;
  margin-top: 20px ;

}

.searchBar{
  border-radius: 50px;
  background-color: rgb(241, 238, 255);
  padding: 15px;
  padding-left: 10px;
  width: 315px;
  box-shadow: 4px 4px 7px;
  color: rgb(145, 123, 251);
  border-style: hidden;
  font-size: 24px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:auto;

}

.button{
  font-size: 17px;
  border-style: hidden;
  color: rgb(145, 123, 251);
  border-radius: 50px;
  background-color: rgb(211, 202, 255);
  padding: 10px;
  padding-left: 10px;
  width: 100px;
  box-shadow: 4px 4px 7px;
  font-weight: bolder;
  border-style:hidden;
  margin:auto;
  margin-left: 15px;
}


.window1{
  background-color: rgb(241, 238, 255);
  box-shadow: 4px 4px 7px;
  padding:10px;
  border-radius: 50px;
  height: 1150px;
  color: rgb(145, 123, 251);
  border-style:hidden;
  overflow-y:auto; 
  width: 600px;
  margin: auto;
}

.pic{
  height:170px;
  width: 240px;
  border-radius: 25px;
  margin-bottom: 15px;
  background-color: rgb(241, 238, 255);
  box-shadow: 3px 3px 5px;
  color: rgb(145, 123, 251);
}

.article{
  width:500px;
  box-shadow: 4px 4px 7px;
  border-radius: 50px;
  color: rgb(145, 123, 251);
  background-color: rgb(214, 207, 254);
  margin:20px;
  border-style:hidden;
  padding: 25px;
  list-style-type:none;
  text-align: left;
  font-size: 19px;
  text-decoration: none;

}

.article:hover{
   transition: width 0.8s, height 0.8s, box-shadow 0.3s, margin 0.8s;
   box-shadow: 10px 10px 10px;
 
  }

  .article:active{
    color: violet;
  }

  .button:hover{
   transition: box-shadow 0.3s;
   box-shadow: 10px 10px 10px;
  
  }

  .button:active{
    color:violet;
  }


  
