.App {
  text-align: center;
  border-style:hidden;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo1{
  margin: auto;
  float: left;
  block-size: 40px;
  border-radius: 100px;
  padding:8px;
}

.logo2{
  margin: auto;
  float:right;
  block-size: 40px;
  border-radius: 100px;
  padding:8px;
}

.logo3{
  min-width: 190px;
  max-width: 190px;
  max-height: 190px;
  min-height: 190px;
  block-size: 170px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px;
}

.topBar{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(241, 238, 255);
  border-radius: 50px;  
  box-shadow: 4px 4px 7px;
  width: 400px;
  border-style:hidden;
  margin: auto;
  color: rgb(145, 123, 251);
}

.title{
  padding:10px;
}

.searchBar{
  border-radius: 50px;
  background-color: rgb(241, 238, 255);
  padding: 10px;
  width: 315px;
  box-shadow: 4px 4px 7px;
  color: rgb(145, 123, 251);
  border-style: hidden;
  font-size: 21px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:auto;
  margin-bottom: 7px;;
}

.button{
  font-size: 14px;
  border-style: hidden;
  color: rgb(145, 123, 251);
  border-radius: 50px;
  background-color: rgb(211, 202, 255);
  padding: 10px;
  padding-left: 10px;
  width: 100px;
  box-shadow: 4px 4px 7px;
  font-weight: bolder;
  border-style:hidden;
  margin:auto;
  margin-left: 12px;
}

.window1{
  background-color: rgb(241, 238, 255);
  box-shadow: 4px 4px 7px;
  padding:10px;
  border-radius: 20px;
  height: 1070px;
  color: rgb(145, 123, 251);
  border-style:hidden;
  overflow-y:auto; 
  width: 700px;
  margin: auto;
  align-items: center;;
}

.pic{
  min-width: 190px;
  max-width: 190px;
  max-height: 190px;
  min-height: 190px;
  border-radius: 20px;
  background-color: rgb(241, 238, 255);
  box-shadow: 3px 3px 5px;
  color: rgb(145, 123, 251);
}

.picSpace{
  block-size: 170px;
}

.anc{
  text-decoration: none;
  color: rgb(145, 123, 251);
  text-align: left;
  font-size: 20px;
  text-decoration: none;
}

.article{
  width:580px;
  box-shadow: 4px 4px 7px;
  border-radius: 20px;
  color: rgb(145, 123, 251);
  background-color: rgb(214, 207, 254);
  margin:25px;
  margin-left:35px;
  border-style:hidden;
  padding: 22px;
  list-style-type:none;
  overflow-y: auto;
}

.commentBox{
  box-shadow: 4px 4px 7px;
  color: rgb(145, 123, 251);
  background-color: rgb(241, 238, 255);
  border-style: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  height: 190px;
  width: 370px;
  border-radius: 20px;
  float:right;
  overflow-wrap: break-word;
}

.comment{
  border-style:hidden;
  box-shadow: 1px 1px 3px;
  background-color: rgb(201, 191, 255);
  font-size:12px;
  margin: 8px;
  margin-left:8px;
  border-radius: 20px;
  padding: 12px;
  text-wrap:auto;
  
}

.aTitle{
  margin-left:10px;
  font-size: 22px;
}

.uTitle{
  font-size:14px;
  margin-bottom: 5px;
}

.cTitle{
  font-size:15px;
  margin-left:14px;
  margin-top:7px;
  text-align:center;
}

.article:hover{
   transition: width 0.8s, height 0.8s, box-shadow 0.3s, margin 0.8s;
   box-shadow: 8px 8px 10px;
}

.article:active{
    color: violet;
}

.button:hover{
   transition: box-shadow 0.4s;
   box-shadow: 12px 12px 8px;
}

.button:active{
    color:violet;
}


  
